@font-face {
    font-family: "Oxygen";
    src: local("Oxygen"), url('./assets/oxygen.regular.ttf') format("truetype");
}

html {
    height: 100%;
    width: 100%;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgba($color: #222222, $alpha: 1.0);
    color: rgba($color: #ffffff, $alpha: 1.0)
}

body {
    height: 100%;
    width: 100%;
    padding: unset;
    margin: unset;
}
