#card-grid{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    justify-content: center;

    .card {
        margin: 2rem;
        width: 40rem;
    }
}
