<div class="background">
    <p>home works!</p>
    <div class="card-grid">
        <p-card header="Advanced Card" subheader="Card Subheader" class="card">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p-card>
        <p-card header="Advanced Card" subheader="Card Subheader" class="card">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas! 
        </p-card>
        <p-card header="Advanced Card" subheader="Card Subheader" class="card">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur!
        </p-card>
    </div>

    <div id="footer">
        <a href="https://github.com/saegii" title="my github" target="_blank">
            <i class="pi pi-github"></i>
            <p>saegii</p>
        </a>
        <a href="https://www.linkedin.com/in/sacha-vogel-78aa10246/" title="my linkedin" target="_blank">
            <i class="pi pi-linkedin"></i>
            <p>Sacha Vogel</p>
        </a>
    </div>
</div>