.background {
    height: 100%;
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}

.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60%;

    .card {
        margin: 2rem;
        width: 30rem;
    }
}

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 1rem;

    a {
        color: rgba($color: #ffffff, $alpha: 1.0);
        text-decoration: unset;
        display: flex;
        align-items: center;
        
        i {
            font-size: 2rem;
        }

        p {
            margin: unset;
            padding: 1rem;
        }
    }
}